@model IEnumerable<HospitalApp.Models.Patient>

@{
    ViewData["Title"] = "Index";
    var Getrole = Context.Session.GetString("Role");
    if (Getrole == "Patient")
    {

        Layout = "~/Views/Shared/_Layoutpatient.cshtml";

    }
    else if (Getrole == "Administrator")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }
    else if (Getrole == "HealthcareProfessional")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Patient Information</h1>
@if (Getrole == "Administrator" || Getrole == "HealthcareProfessional")
{
    <p>
        <button type="button" onclick="location.href='@Url.Action("Create")'">Create New</button>
        <button type="button" onclick="location.href='@Url.Action("DownloadPdf")'">Download PDF</button>
    </p>
}
<table class="table table-hover table-responsive table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsurancePolicyNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
