@model IEnumerable<HospitalApp.Models.Appoint>

@{
    ViewData["Title"] = "Index";
    var Getrole = Context.Session.GetString("Role");
    if (Getrole == "Administrator")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }
    else if (Getrole == "HealthcareProfessional")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-responsive table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthcareProviderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthcareProviderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>|

                    @if (item.Approved)
                    {
                        <span>Approved</span>
                    }
                    else
                    {
                        <a asp-action="Approved" asp-route-id="@item.AppointmentID">Approve</a>
                    }
                </td>
                </td>
        </tr>
}
    </tbody>
</table>
