@model IEnumerable<HospitalApp.Models.MedicalHist>

@{
    ViewData["Title"] = "Index";
    var Getrole = Context.Session.GetString("Role");
    if (Getrole == "Patient")
    {

        Layout = "~/Views/Shared/_Layoutpatient.cshtml";

    }
    else if (Getrole == "Administrator")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }
    else if (Getrole == "HealthcareProfessional")
    {
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Patient Medical History</h2>

@if (Getrole == "Administrator" || Getrole == "HealthcareProfessional")
{
    <p>
        <a asp-action="Create">Create New</a>
        <a asp-action="DownloadPdf">Download PDF</a>
    </p>
}
<table class="table table-hover table-responsive table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEmail)
            </th>
            @if (Getrole == "Administrator" || Getrole == "HealthcareProfessional")
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
                @if (Getrole == "Administrator" || Getrole == "HealthcareProfessional")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
